@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");

.ghzGbD {
	padding: 0px;
}
.sc-jrsJWt {
	padding: 0px;
}
/* Homepage */
.homepage {
	display: flex;
	flex-direction: column;
}

.homepage .header {
	display: flex;
	/* width: 100%; */
	justify-content: space-between;
	padding: 20px;
}
.header .logo {
	display: flex;
	align-items: center;
}
.header .logo img {
	width: 124px;
}
.header .logo span {
	font-size: 22px;
	padding-left: 4px;
	color: #5f6368;
	font-family: sans-serif;
}

.header .action-icons {
	display: flex;
	align-items: center;
	font-size: 20px;
	padding: 10px;
	color: #5f6368;
}

.header .action-icons .icon-block .MuiSvgIcon-root {
	padding: 5px;
	font-size: 25px;
}
.action-btn .MuiSvgIcon-root {
	color: white;
}

.input-block .input-section .MuiSvgIcon-root {
	color: #555;
}
.body-content {
	display: flex;
	flex: 1 1;

	justify-content: space-around;
	align-items: center;
}
.body-content .left-side {
	width: 500px;
	margin-top: 60px;
}

.body-content .left-side h2 {
	font-size: 44px;
	line-height: 1.4;
	font-weight: 400;
	margin-top: 15px;
	margin-bottom: 15px;

	font-family: "Roboto", sans-serif;
}
.body-content .left-side p {
	font-size: 18px;
	font-weight: 300;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	line-height: 1.5;
}

.body-content .left-side .action-btn {
	margin-top: 60px;
	display: flex;
}
.body-content .left-side .action-btn .btn {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px;
	font-size: 16px;
	background-color: #00796b;
	color: white;
	border: none;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
}
.body-content .left-side .action-btn .btn:hover {
	background: rgb(12, 100, 78);
}
.body-content .left-side .action-btn .btn .MuiSvgIcon-root {
	padding-right: 5px;
}
.body-content .left-side .input-block {
	display: flex;
	flex: 1 1;
	margin-left: 20px;
}

.body-content .left-side .action-btn .input-block input {
	padding-left: 38px;
	height: 50px;
	font-size: 16px;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 5px;

	/* height: 48px; */
}
.body-content .left-side .action-btn .input-block .input-section {
	display: flex;
	position: relative;
	align-items: center;
	color: #5f6368;
	margin-right: 10px;
}
.body-content
	.left-side
	.action-btn
	.input-block
	.input-section
	.MuiSvgIcon-root {
	position: absolute;
	top: 50%;
	transform: translate(10px, -50%);
}
.body-content .left-side .action-btn .join-btn {
	border: none;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
	font-size: 16px;
	color: #00796b;
	cursor: pointer;
}

.body-content .left-side .footer .green {
	color: #00796b;
	cursor: pointer;
	text-decoration-line: none;
}

.body-content .left-side .footer {
	margin-top: 30px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	padding-top: 25px;
	border-top: 1px solid #ddd;
}
.right-side {
	width: 50%;
}
.right-side .content {
	width: 100%;
	max-width: 650px;
	border: 1px solid #eee;
	padding: 30px;
}
.right-side .content img {
	width: 100%;
	border-radius: 5px;
}

/* No Match page */
.no-match {
	display: flex;
	flex-direction: column;
}
.no-match .header {
	display: flex;
	/* width: 100%; */
	justify-content: space-between;
	padding: 20px;
}
.no-match-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 100px;
}

.no-match-content h2 {
	display: flex;
	justify-content: center;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-weight: 400;
	font-size: 40px;
}
.action-btn {
	display: flex;
	justify-content: center;
}
.action-btn button {
	text-decoration: none;
	border: none;

	padding: 15px;
	background-color: #00796b;
	font-size: 15px;
	color: white;
	border-radius: 5px;
	cursor: pointer;
}
.action-btn .return-text {
	text-decoration: none;
	color: white;
}

/* styling for the video page */

p {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

h3 {
	display: block;
	font-size: 1.17em;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
}

p {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

.videoScreen {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* .videoScreen .video-container { */
/* height: calc(100% - 90px);
  /* width: 100%; */
/* width: 50vw;
  object-fit: cover;
  position: absolute;
  z-index: -1;
  background-color: #222; */
/* display: flex;
	align-items: center; */
/* height: calc(100vh - 90px); */
/* width: 100vw;
	flex-wrap: wrap;
	justify-content: center; */
/* } */

/* .vidStyle{
    padding: 10px;
    height: 40%;
 }  */

.container {
	background-color: #222;
	position: fixed;
	top: 0;
	right: 0px;
	display: flex;
	align-items: center;
	height: calc(100vh - 90px);
	width: 100vw;
	flex-wrap: wrap;
	justify-content: center;
	overflow-y: scroll;
}

.frame-header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 350px;
	position: absolute;
	top: 0;
	right: 0;
	background: #fff;
	border-radius: 0 0 0 10px;
	overflow: hidden;
}
.header-items .MuiSvgIcon-root {
	cursor: pointer;
}

.frame-header .header-items {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	flex: 1 1;
	border-right: 1px solid whitesmoke;
	position: relative;
}

.frmae-header .header-items.date-block {
	font-size: 22px;
	color: #5f6368;
	min-width: 120px;
	font-weight: 400;
}

.footer-item {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 90px;
	background: #fff;
	z-index: 1;
}
.center-item .phone {
	cursor: pointer;
}
.center-item .mic {
	cursor: pointer;
}
.center-item .video {
	cursor: pointer;
}
.phone .MuiSvgIcon-root {
	color: #d93025;
}
.screen-share {
	cursor: pointer;
}
.footer-item .left-item {
	display: flex;
	align-items: center;
	height: 100%;
	width: 350px;
}
.footer-item .left-item .icon-block {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 0 30px;
}

.footer-item .center-item {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1 1;
}
.footer-item .center-item .icon-block {
	background: #fff;
	border: 1px solid #dfdfdf;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 10px;
}

.footer-item .right-item {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 100%;
	width: 350px;
}
.footer-item .right-item .icon-block {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	width: 146px;
	color: #555;
}
.footer-item .right-item .icon-block .title {
	margin: 0;
	font-size: 14px;
	font-weight: 500;
}

.meeting-info-block {
	position: absolute;
	top: 50px;
	left: 50px;
	background: #fff;
	border-radius: 10px;
	padding: 25px;
	width: 310px;
	border: 1px solid #eee;
}

.meeting-info-block .meeting-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #222;
}

.meeting-info-block .meeting-header h3 {
	margin: 0;
	font-size: 18px;
	font-weight: 400;
}

.meeting-info-block .meeting-header .MuiSvgIcon-root {
	cursor: pointer;
}

.meeting-info-block .meet-link .MuiSvgIcon-root {
	cursor: pointer;
	width: 20px;
}
.meeting-info-block .add-people-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #04796a;
	color: #fff;
	font-size: 16px;
	padding: 10px;
	border-radius: 5px;
	outline: none;
	border: none;
	margin-top: 20px;
}

.meeting-info-block .info-text {
	color: #222;
	font-size: 14px;
}

.meeting-info-block .meet-link {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #f1f3f5;
	padding: 15px;
	border-radius: 5px;
}

.meeting-info-block .meet-link span {
	font-size: 14px;
	font-weight: 600;
	border: none;
	outline: none;
	background: none;
	flex: 1 1;
	color: #555;
}

.meeting-info-block .permission-text {
	display: flex;
	align-items: center;
	justify-content: center;
}

.meeting-info-block .small-text {
	font-size: 13px;
	color: #222;
	margin-bottom: 0;
}

.meeting-info-block .small-text {
	font-size: 13px;
	color: #555;
}

.add-people-btn .MuiSvgIcon-root {
	margin-right: 7px;
	color: white;
}
.footer-item .left-item .item-block {
	padding: 0 20px;
	display: flex;
	align-items: center;
}
.permission-text .MuiSvgIcon-root {
	margin-right: 7px;
}

.MuiSvgIcon-root {
	color: #555;
}

/* MESSENGER */
.messenger-container {
	display: flex;
	width: 25%;
	flex-direction: column;
	position: absolute;
	top: 0;
	right: 0;
	height: calc(100% - 90px);
	background: white;

	position: fixed;
	z-index: 1;

	overflow-x: hidden;
	transition: 0.5s;
}
.messenger-header .MuiSvgIcon-root {
	cursor: pointer;
	font-size: 20px;
}
.messenger-container .messenger-header {
	display: flex;
	align-items: center;
	padding: 20px;
	justify-content: space-between;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	height: 25px;
}
.messenger-header h3 {
	font-weight: 400;
}

.messenger-header-tab {
	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid #eee;

	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.messenger-header-tab .chat {
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 2px solid #04796a;
	color: #04796a;
	width: 100%;
}
.chat .MuiSvgIcon-root {
	color: #04796a;
}

.messenger-header-tab .people {
	display: flex;
	width: 100%;
	padding: 15px;
	justify-content: center;
	align-items: center;
}
.messenger-header-tab .MuiSvgIcon-root {
	margin-right: 10px;
}

.messenger-input {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	align-items: center;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
.messenger-input input {
	border: none;
	outline: none;
	padding: 5px;
	width: 80%;
	border-bottom: 1px solid #eee;
}
.messenger-input .MuiSvgIcon-root {
	cursor: pointer;
}
.messenger-chat-area {
	display: flex;
	flex: 1;
}

/* Message Alert */
.message-alert-popup {
	display: flex;
	position: absolute;
	bottom: 100px;
	right: 10px;
	flex-direction: column;
	padding: 15px;
	background: white;
	width: 250px;
	border-radius: 5px;
}

.message-alert-popup .alert-header {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
	color: #04796a;
}
.message-alert-popup .alert-header h3 {
	font-size: 16px;
	font-weight: 500;
	margin: 0;
}

.message-alert-popup .alert-header .icon {
	margin-right: 10px;
}
.message-alert-popup p {
	font-size: 14px;
	margin: 0;
}
