<!-- <%- include ("partials/header") %> 

<div>
    <form action="/signUp" method="POST">
           
              <label for="email">Email</label>
              <input type="email" class="form-control" name="email">
            
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password">
            <button type="submit" class="btn btn-dark">SignUp</button>
          </form>
</div>
<%- include ("partials/footer") %>  -->